In [1]:
import datetime as dt
import yfinance as yf
import cvxpy as cp

In [2]:
start = dt.datetime(2023, 1, 1)
end = dt.datetime(2023, 12, 31)
stocks = ['AAPL', 'AMZN', 'GOOG', 'MCD', 'META', 'MSFT', 'TSLA', 'WMT']
data = yf.download(stocks, start, end)['Adj Close']
returns = data.pct_change(periods = 1).dropna()
mean = returns.mean()
cov = returns.cov()
cov

[*********************100%%**********************]  8 of 8 completed

Ticker,AAPL,AMZN,GOOG,MCD,META,MSFT,TSLA,WMT
Ticker,,,,,,,,
AAPL,0.000158,0.000116,0.000130,0.000034,0.000170,0.000109,0.000185,0.000022
AMZN,0.000116,0.000433,0.000246,0.000032,0.000303,0.000190,0.000257,0.000039
GOOG,0.000130,0.000246,0.000372,0.000025,0.000295,0.000158,0.000218,0.000024
MCD,0.000034,0.000032,0.000025,0.000077,0.000040,0.000030,0.000024,0.000024
META,0.000170,0.000303,0.000295,0.000040,0.000630,0.000211,0.000315,0.000022
MSFT,0.000109,0.000190,0.000158,0.000030,0.000211,0.000250,0.000167,0.000019
TSLA,0.000185,0.000257,0.000218,0.000024,0.000315,0.000167,0.001100,0.000058
WMT,0.000022,0.000039,0.000024,0.000024,0.000022,0.000019,0.000058,0.000097

In [3]:
x = cp.Variable(len(mean))
f = 10*(x@cov@x) - cp.transpose(mean)@x
constraint = []
constraint += [cp.sum(x) == 1]
constraint += [x >= 0]
constraint
problem = cp.Problem(cp.Minimize(f), constraint)
problem.solve()
print(x.value)
objval1 = problem.objective.value
print(objval1)

[2.08848278e-01 4.42228122e-23 5.65226874e-23 2.38412905e-01
 2.49336703e-01 6.62766512e-02 5.79096665e-02 1.79215797e-01]
-0.0009071499952229643

In [4]:
constraint[0].dual_value

array(-0.00027288)

In [5]:
x = cp.Variable(len(mean))
f = 10*(x@cov@x) - cp.transpose(mean)@x
constraint = []
constraint += [cp.sum(x) == 1.01]
constraint += [x >= 0]
constraint
problem = cp.Problem(cp.Minimize(f), constraint)
problem.solve()
objval2 = problem.objective.value
print(objval2)
print(objval2 - objval1)

-0.0009043719198353057
2.778075387658511e-06